#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide-active {
  transform: translate3d(0px, -25px, 0px) rotateX(0deg) rotateY(0deg) scale(1.1)!important;
}

.swiper-slide {
  background-position: center;
  background-color: rgb(44 44 44 / 85%);
  background-size: cover;
  border-radius: 10px;
}

.swiper-slide img {
  margin: 20px auto;
  display: block;
  width: 90%;
  border-radius: 5px;
}

.swiper-slide p {
  margin: 20px;
  color: white;
}

.swiper-slide:not(.swiper-slide:has( + .swiper-slide-prev), .swiper-slide-prev, .swiper-slide-active, .swiper-slide-next, .swiper-slide-next + div.swiper-slide) {
  visibility: hidden;
}