#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-color: rgb(44 44 44 / 85%);
  background-size: cover;
  border-radius: 10px;
}

/* .swiper-slide-next ~ div {
  visibility: hidden;
} */

div.swiper-slide[data-swiper-slide-index=3] {
  visibility: hidden;
}

.swiper-slide img {
  margin: 20px auto;
  display: block;
  width: 90%;
  border-radius: 5px;
}

.swiper-slide p {
  margin: 20px;
  color: white;
}